/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&family=Spicy+Rice&display=swap'); */


.logo-font {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
}


.bg-main-vid {
    height: 90vh;

}

.main-vid {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.letter {

    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-size: 250px;
    background: none;
    color: var(--gradient-background);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 100px;
}


.letters-container {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;


}

.letter-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "top-left top-right"
        "bottom-left bottom-right";

}

.top-left {
    grid-area: top-left;
    align-self: start;
    justify-self: start;
}

.top-right {
    grid-area: top-right;
    align-self: start;
    justify-self: end;
}

.bottom-left {
    grid-area: bottom-left;
    align-self: end;
    justify-self: start;
}

.bottom-right {
    grid-area: bottom-right;
    align-self: end;
    justify-self: end;
}

.section-rich-text {
    border-top: none;
}

.rich-text {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: 3rem;
}

.absolute-section-header {
    position: absolute;
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
}


.section-header {
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-background));
    width: fit-content;
    padding: 10px 20px;
    font-family: "Playfair Display", serif;
    font-weight: 100;

}



#bestsellers-grid {
    margin-left: 10rem;
    margin-right: 10rem;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: repeat(5, 1fr);
    /* width: calc(100% - 20rem); */
    /* position: relative; */
    row-gap: 5rem;
}

.row1 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-1,
.image-hov {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.3s ease-in-out;
}

.image-hov {
    opacity: 0;
    z-index: 2;
}

.image-1 {
    z-index: 1;
}

.row1:hover .image-hov {
    opacity: 1;
}

.row1:hover .image-1 {
    opacity: 0;
}

#row2col1 {
    grid-area: 2 / 1 / 3 / 3;
}

#row2col2 {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

#row2col3 {
    grid-area: 2 / 4 / 3 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.image-bestsellers-grid-row-2-collumn-2:first-child {
    justify-self: end;
    /* Прилепить к левому краю столбца */
    align-self: start;
    /* Прилепить к верхнему краю */
}

.image-bestsellers-grid-row-2-collumn-2:last-child {
    justify-self: start;
    /* Прилепить к правому краю столбца */
    align-self: center;
    /* Прилепить к нижнему краю */
}

.image-bestsellers-grid-row-2-collumn-2 {
    width: 75%;
    height: 75%;
    object-fit: contain;
}


.image-bestsellers-grid-row-2-collumn-1 {
    width: 85%;
    height: 85%;
    object-fit: contain;
}


.shades-header {
    left: 19%;
    position: absolute;
}


/* Основной контейнер */
.shades-grid {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    margin-right: 10rem;
}

.shades-grid-1 {
    display: flex;
    justify-content: flex-end;
    padding: 0 15px 0 0;
}

.shades-grid-3 {

    display: flex;
    flex-direction: column;
    max-width: 20rem;
    margin-left: auto;
    gap: 30px;

}

#link-shop-lightning {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 1px;
    color: black;
    font-weight: 100;
    font-size: 16px;

}

#link-shop-lightning svg {
    width: 0.9rem;
    margin-left: 0.5rem;
}

.link-shop-lightning {
    display: flex;
    align-items: center;

}

/* Видео */
.vid-2 {
    width: 80%;
    height: 95%;
    object-fit: cover;

}


.vid-2-1 {
    width: 52%;
    height: 62%;
    object-fit: cover;
}


#link-shop-lightning svg {
    transition: transform 0.5s ease;
}

#link-shop-lightning:hover svg {
    transform: translateX(5px);
}



/* -------------------СЛАЙДЕР------------------- */

.slider-header {
    left: 38%;
    position: absolute;
}

.marquee {

    overflow: hidden;
    position: relative;
    width: 100%;
}

/* Трек для слайдов */
.marquee-track {
    display: flex;
    animation: marquee 25s linear infinite;
    /* Плавная бесконечная анимация */
    width: calc(200%);
    width: max-content;
}

.slide {
    margin: 0px 50px;
}

.slide img {
    object-fit: cover;
    height: 225px;
    width: 365px;
}

/* Анимация бегущей строки */
@keyframes marquee {
    from {
        transform: translateX(0);
        /* Начальная позиция */
    }

    to {
        transform: translateX(-50%);
        /* Сдвиг на ширину всех слайдов */
    }
}